@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --primary-darkest: 216 7% 14%;
    --primary-dark: 220 7% 17%;
    --primary: 223 7% 20%;
    --primary-light: 218 8% 27%;
    --accent: 227 57% 65%;
  }
}
